[user]
	email = ben.gray@datasift.com
	name = Ben Gray
[push]
	default = current
[mergetool]
	keepBackup = false
[difftool]
	prompt = false
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	gpgsign = true
